---
layout: default 
# gallery: true 
--- 

{% assign display_fields = "date,status,link,text" | split: "," %}
{% comment %} get related print records from main metadata based on artistid {% endcomment %}
{% assign prints = site.data[site.metadata] | where: "artistid",page.artistid %}

<div class="container py-3">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | absolute_url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/artist_index.html' | absolute_url }}">Artists</a></li>
        <li class="breadcrumb-item active">{{ page.title | truncatewords: 10 }}</li>
    </ul>

    <div class="row">

        <div class="col-md-6">
            <h1>{{ page.title }}</h1>
            {% for f in display_fields %}
            <div><strong>{{ f }}:</strong><br>
                {{ page[f] }}
            </div>
            {% endfor %}
        </div>
            
        <div class="col-md-6" id="lightgallery">
            <div class="card mb-4 text-center">

                {% for p in prints %}
                <figure class="figure mx-3">
                    <a href="{{ '/items/' | append: p.objectid | append: '.html' | relative_url }}">
                        <img class="figure-img img-fluid rounded" alt="{{ p.title | escape }}" src="{{ site.objects | absolute_url }}/small/{{ p.filename | downcase | split: '.' | first }}_sm.jpg" >
                        <figcaption class="figure-caption">{{ p.title }}</figcaption>
                    </a>
                </figure> 
                {% endfor %}

            </div>
        </div>

    </div>

</div>